APP_PORT=

BIGQUERY_PROJECT_ID=
TEAM_INFO_TABLE=

MOCK_REQUEST_ACTION=

FOOTBALL_API_CURRENT_LEAGUE=
FOOTBALL_API_CURRENT_SEASON=
FOOTBALL_API_SPORTS_HOST=
FOOTBALL_API_SPORTS_FILE=
X_APISPORTS_KEY=


API_FOOTBALL_CURRENT_LEAGUE=
API_FOOTBALL_TOKEN=
API_FOOTBALL_HOST=
API_FOOTBALL_SPORTS_FILE=

